/* Body style*/
/* Reset box model. */
html { box-sizing: border-box; }
*, :before, :after { box-sizing: inherit; }

html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: helvetica, arial;
	height: 100%;
	margin: 0;
	padding: 8px;
	display: flex;
	flex-direction: column;
}
body * { flex: none; }

.headerhat {
	background-color: #f5f5f5;
	padding: 1em 0;
	height: 172px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.headerhat img {
	max-width: 100%;
	padding: 0 .5em;
}

.hvmain {
	text-decoration: none;
	font-size: 1.2em;
}
footer {
	margin-top: auto;
}

@media screen and (max-width: 600px) {
    /* Reduce page margin on small screens. */
    body {
	padding: 0;
    }
}
